.button-container{
  width: 100%;
  background-color: #7785db;
color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Avenir";
  border-radius: 24px;
  height: 42px;
  border: 0;
  cursor: pointer;
}
.home-screen-form-container{
  width: 452px;

}