.Modal{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right:0;
  display: flex;
  align-items:flex-end ;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.modal-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 26vw;
  background-color: white;
 align-items: center;
 padding-top: 16px;
 padding-left: 24px;
 padding-right: 24px;
 margin-bottom: 24px;
}
.modal-header{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.modal-close-button{
  height: 24px;
  width: 24px;
  background-image: url('../../../public/./Imagens/close.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.buttons-container{
  display: flex;
  
  height:12vh;
  align-items: center;
  justify-content: center;
  margin-top: 62vh;
  width: 100%;
  background-color: 1px solid #7785db;
}
.main{
background-color: #7796db;
color: white;

}
.outline{
background-color: #F2F4FF;
color: #7796db;
}
.button-icon{
  height: 24px;
  width:24px;
  object-fit: contain;
  margin-right: 6px;
}
@media screen and (max-width:830px ){
  .modal-content{
    width:60vw;
  }
  .buttons-container{
    height: 20vh;
    width: 100%;
    margin-top: 40vh;
    display: inline;
    
  }
  .main{
    height: 5vh;
    padding: 10;
    width: 100%;
    margin-top: 5vh;

    }
    .outline{
      height: 5vh;
      padding: 10;
      width: 100%;
    }
   

}

@media screen and (max-width:420px ){
  .modal-content{
    width:100vw;
   
  }
  .buttons-container{
    height: 20vh;
    width: 100%;
    margin-top: 42vh;
    display: inline;
    
  }
  .main{
    height: 5vh;
    padding: 10;
    width: 100%;
    margin-top: 5vh;

    }
    .outline{
      height: 5vh;
      padding: 10;
      width: 100%;
    }
   

}
