@font-face{
  font-family: 'Avenir Next';
  src: url('/public/Fonts/AvenirNext-Regular.otf')
}
@font-face{
  font-family: 'Avenir Next';
  src: url('/public/Fonts/AvenirNext-Regular.otf');
  font-weight:bold;
}
@font-face{
  font-family: 'Avenir Next';
  src: url('/public/Fonts/AvenirNext-Regular.otf');
  font-size: italic;
}



body {
  margin: 0;
  font-family: 'Avenir Next';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight:bolder;
  font-size:24px;
  line-height: 20px;
  color: black;
}
h3{
  font-size:16px;
  font-weight:500px;
  margin: 0;
  padding: 0;
}
